<div class='container' id="about-page">

  <div class='col-md-6'>
    <a href='chris'>
      <div class='jumbotron' id='chris-jumbotron'>
        <h1>Chris</h1>
      </div>
    </a>
  </div>

  <div class='col-md-6'>
    <a href='jackson'>
      <div class='jumbotron' id='jackson-jumbotron'>
        <h1>Jackson</h1>
      </div>
    </a>
  </div>
  <div class='col-md-6'>
    <a href='kemal'>
      <div class='jumbotron' id='kemal-jumbotron'>
        <h1>Kemal</h1>
      </div>
    </a>
  </div>
  <div class='col-md-6'>
    <a href='zoe'>
      <div class='jumbotron' id='zoe-jumbotron'>
        <h1>Zoe</h1>
      </div>
    </a>
  </div>

 </div>