<div class='container' id="about-page">

  <div class="row well">

    <div class='col-md-3'>
      <a href='chris'>
        <div class='jumbotron' id='chris-jumbotron'>
          <h2>Chris</h2>
        </div>
      </a>
    </div>

    <div class='col-md-3'>
      <a href='jackson'>
        <div class='jumbotron' id='jackson-jumbotron'>
          <h2>Jackson</h2>
        </div>
      </a>
    </div>

    <div class='col-md-3'>
      <a href='kemal'>
        <div class='jumbotron' id='kemal-jumbotron'>
          <h2>Kemal</h2>
        </div>
      </a>
    </div>

    <div class='col-md-3'>
      <a href='zoe'>
        <div class='jumbotron' id='zoe-jumbotron'>
          <h2>Zoe</h2>
        </div>
      </a>
    </div>

  </div>

 </div>