<div class='container'>
  <div class="row">
    <div class="col-md-4" id="about-profile-pic">
      <img src="http://res.cloudinary.com/dto1eenjq/image/upload/v1473372104/chrispic_i6gwic.jpg"
           class='img-thumbnail' height='400'>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7 panel" id="about-bio">
      <h1 id='name'>
        CHRIS KENYON
      </h1>
      <div class="mui-divider" style="margin-top: 20px; margin-bottom: 20px;"></div>
      <div class="mui--text-body1">
        Chris was shipped off his home planet and crash landed on earth when his parents decided he was a total jerk. His spaceship was located by members of PETA, who decided that he was not worth saving. One thing led to another, and Chris became an American Gladiator, but roid rages cut his career short when he found the Russian steroid stash at the Rio Olympics.
      </div>
      <div class="mui-divider" style="margin-top: 20px; margin-bottom: 20px;"></div>
      <div id="about-social-links">
        <ul class="list-inline">
          <li>
            <div class="mui--text-dark-secondary mui--text-display2">
              <a href="https://github.com/ChrisKenyon79/">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </div>
          </li>
          <li>
            <div class="mui--text-dark-secondary mui--text-display2">
              <a href="https://www.linkedin.com/in/ckenyon79">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>