<!DOCTYPE html>
<html>
<head>
  <title>CHRIS BIO</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container" id='content'>
  <a href="index.html">Home</a>
  <h1 id="name"> THIS IS CHRIS </h1>
  <img src="http://res.cloudinary.com/dto1eenjq/image/upload/v1473372104/chrispic_i6gwic.jpg" class='img-circle' height="200px" width="200px">
  <p id="bio">
  Chris was shipped off his home planet and crash landed on earth when his parents decided he was a total jerk. His spaceship was located by members of PETA, who decided that he was not worth saving. One thing led to another, and Chris became an American Gladiator, but roid rages cut his career short when he found the Russian steroid stash at the Rio Olympics.
  </p>
  </div>
<script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>