<div class="container">
  <h1 class="test1">accio bike</h1>
</div>

<%= render "partials/home/bike" %>

<div class='container' id='frontpage-text'>
   <p>Acciobike was inspired by Seattle's newest vigilante, who goes by the name "Bike Batman." Our desire to help bike owners reunite with their bikes comes from our first-hand experience of what its like to be separated from your bike. Every member of our team has had a bike stolen in the past, and were unable to get it back. In the interest of deterring bike theft and ensuring bike protection, we have created Acciobike.</p>
</div>
