<div class="container">
  <h1 class="test1">accio bike</h1>
</div>

<%= render "partials/home/bike" %>

<div class='container' id='frontpage-text'>
   <p>Lorem ipsum bromont bonk virenque petit-breton pedaling squares, indurain maillot jaune e3 prijs vlaanderen luz ardiden van garderen. Rekelberg bahamontes, reilhan pereiro omnium kleber merckx vuelta a espana.</p>
</div>
