<!DOCTYPE html>
<html>
<head>
  <title>Jackson Bio</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class='container' id='content'>
    <h1 id='name'>IT'SA ME!!!! JACKSON DUHON!</h1>
    <img src="http://res.cloudinary.com/dto1eenjq/image/upload/v1473372076/jacksonpic_r2tfmu.png" class='img-circle' height='400' width='400'>
    <p id="bio">Jackson Duhon is a homo sapien who uses oxygen for cell respiration. His mom tells him that he's pretty cool, but he's starting to suspect that she talks crap about him behind his back. One time a horse painstakingly taught itself the english language so that it could prank call Jackson. Jackson likes harvati cheese, but if you ask him about it he'll light your car on fire.</p>
  </div>

<script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>