<div class='container'>
    <div class="row">
        <div class="col-md-4" id="about-profile-pic">
            <img src="http://res.cloudinary.com/dto1eenjq/image/upload/v1473372070/kemalbatman_x5hglg.jpg"
                 class='img-thumbnail' height='400'>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7 panel" id="about-bio">
            <h1 id='name'>
                KEMAL DEGER
            </h1>
            <div class="mui-divider" style="margin-top: 20px; margin-bottom: 20px;"></div>
            <div class="mui--text-body1">
                Kemal starts his day off with a fresh picked bowl of spinach, a large cup of raw eggs, and 25 push downs. He calls them push-downs instead of push-ups becasue he's pushing the Earth down with each rep. 'Nough said.
            </div>
            <div class="mui-divider" style="margin-top: 20px; margin-bottom: 20px;"></div>
            <div id="about-social-links">
                <ul class="list-inline">
                    <li>
                        <div class="mui--text-dark-secondary mui--text-display2">
                            <a href="https://github.com/kedeger">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>