<div class='container'>
    <div class="row">
        <div class="col-md-4" id="about-profile-pic">
            <img src="http://res.cloudinary.com/dto1eenjq/image/upload/v1473372079/zoepic_cgmcdl.jpg"
                 class='img-thumbnail' height='400'>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7 panel" id="about-bio">
            <h1 id='name'>
                ZOE MCDANIEL
            </h1>
            <div class="mui-divider" style="margin-top: 20px; margin-bottom: 20px;"></div>
            <div class="mui--text-body1">
                Zoe is the last living gigantosaurus and is sustained by the generous donations of the Bill Billerson Foundation. In 1492 she sailed the ocean blue. Although her lineage is doubted by some, she is the one true Zoe Regularborn of the House Ginger, the seventh of her name, Queen of the Sandals, the Chicken Nuggets and the First Sea Otters, Lady of the Seven Pillow Kingdoms and Protector of the Legos, the Sunburnt, Mother of Puppers, Breaker of Glasses, Queen of Cheese, Drinker of the Great Beanie Baby Sea.
            </div>
            <div class="mui-divider" style="margin-top: 20px; margin-bottom: 20px;"></div>
            <div id="about-social-links">
                <ul class="list-inline">
                    <li>
                        <div class="mui--text-dark-secondary mui--text-display2">
                            <a href="https://github.com/zmcdaniel">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="mui--text-dark-secondary mui--text-display2">
                            <a href="https://www.linkedin.com/in/zoe-mcdaniel-7933bb66">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>