body {
    overflow: auto;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #97ccf1;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

/* !*Banner Lettering Styles */
h1 {
    margin-top: 20px;
}
h1 [class*="word"]{
    margin-right: 10px;
}
h1 [class*="word"]:last-child;{
    margin-right: 0;
}
.title [class*="char"]{
    font-family: 'Amatic SC', helvetica, sans-serif;
    background: #D6665A;
    padding: 10px;
    font-size: 60px;
    color: #ffffff;
    display: inline-block;
}
.title [class*="char"]:nth-child(odd){
    -moz-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    -o-transform: skewY(-20deg);
    -ms-transform: skewY(-20deg);
    transform: skewY(-20deg);
}
.title [class*="char"]:nth-child(even){
    background: #DC9B74;
    color: #ffffff;
    -moz-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    -o-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
}

/* Bike SVG CSS*/
.wrapper {
    width: 50%;
    margin: 50px auto;
    cursor: pointer;
    transition: transform 3s ease-out;
}

.wrapper.ride .bike {
    animation: rideout 3s forwards;
}

/* Animation to ride out on click*/
@keyframes rideout {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(200%, 0, 0);
    }
}

/* Animation to ride in on page load */
@keyframes ridein {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-200%, 0, 0);
    }
}

.bike {
    width: 100%;
}

.wheel {
    transform-origin: 50% 50%;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chain {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 5;
    stroke-dashoffset: 5;
    animation: movechain 0.2s normal linear infinite;
}

@keyframes movechain {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}

/* Text Content Styles */

#main-title {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    font-size: 60px;

}

#frontpage-text {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.bikeForm {
    text-align: left;

}

.photoInput {
    text-align: center;
}

#contact-owner {
    padding-right: 20px;
    text-align: center;
}

.page-heading {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Styles for forms */

.form-section {
    width: 50%;
    padding-bottom: 30px;

}

/* Styles for user profile page */

.user-bikes {
    /*border: 2px solid #66CCFF;*/
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
}

/* Styles for the About page */

#about-page {
    margin: 0 auto;
}

.jumbotron {
    height: 200px;
    width: 200px;
    text-align: center;
    color: #ffffff;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 20px;
    text-shadow: 1px 1px black;
}

#chris-jumbotron {
    background-image: url('http://res.cloudinary.com/dto1eenjq/image/upload/v1473372104/chrispic_i6gwic.jpg');
}
#jackson-jumbotron {
    background-image: url('http://res.cloudinary.com/dto1eenjq/image/upload/v1473372076/jacksonpic_r2tfmu.png');
}
#kemal-jumbotron {
    background-image: url('http://res.cloudinary.com/dto1eenjq/image/upload/v1473372070/kemalbatman_x5hglg.jpg');
}
#zoe-jumbotron {
    background-image: url('http://res.cloudinary.com/dto1eenjq/image/upload/v1473372079/zoepic_cgmcdl.jpg');
}
