body {
    overflow: auto;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #97ccf1;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

/* !*Banner Lettering Styles *!
 !*Not working for now -- will attempt to fix later.  *!
h1 {
margin-top: 100px;
}
h1 [class*="word"]{
margin-right: 10px;
}
h1 [class*="word"]:last-child;{
margin-right: 0;
}
.test1 [class*="char"]{
font-family: 'Amatic SC', helvetica, sans-serif;
background: #D6665A;
padding: 10px;
font-size: 60px;
color: #ffffff;
display: inline-block;
}
.test1 [class*="char"]:nth-child(odd){
-moz-transform: skewY(-20deg);
-webkit-transform: skewY(-20deg);
-o-transform: skewY(-20deg);
-ms-transform: skewY(-20deg);
transform: skewY(-20deg);
}
.test1 [class*="char"]:nth-child(even){
background: #DC9B74;
color: #ffffff;
-moz-transform: skewY(20deg);
-webkit-transform: skewY(20deg);
-o-transform: skewY(20deg);
-ms-transform: skewY(20deg);
transform: skewY(20deg);
}*/

/* Bike SVG CSS*/
.wrapper {
    width: 50%;
    margin: 50px auto;
    cursor: pointer;
    transition: transform 3s ease-out;
}

.wrapper.ride .bike {
    animation: rideout 3s forwards;
}

/* Animation to ride out on click*/
@keyframes rideout {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(200%, 0, 0);
    }
}

/* Animation to ride in on page load */
@keyframes ridein {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-200%, 0, 0);
    }
}

.bike {
    width: 100%;
}

.wheel {
    transform-origin: 50% 50%;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.chain {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 5;
    stroke-dashoffset: 5;
    animation: movechain 0.2s normal linear infinite;
}

@keyframes movechain {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 10;
    }
}

/* Text Content Styles */

#main-title {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    font-size: 60px;

}

#frontpage-text {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.bikeForm {
    text-align: left;
}

#contact-owner {
    padding-right: 20px;
    text-align: center;
}

.page-heading {
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Styles for forms */

.form-section {
    width: 50%;
    padding-bottom: 30px;

}

/* Styles for user profile page */

.user-bikes {
    /*border: 2px solid #66CCFF;*/
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
}